[Unit]
Description=Colutti Hyprland desktop services
Requires=colutti-quickshell.service
Wants=hyprpaper.service hypridle.service hyprsunset.service colutti-clipboard.service plasma-polkit-agent.service swaync.service swayosd-server.service
After=graphical-session.target
BindsTo=graphical-session.target

[Install]
WantedBy=graphical-session.target
