[Unit]
Description=Hyprsunset display gamma controller
After=graphical-session.target
PartOf=colutti-desktop.target

[Service]
ExecStart=/usr/bin/hyprsunset
Restart=on-failure
RestartSec=2

[Install]
WantedBy=colutti-desktop.target
