[Unit]
Description=Hypridle session idle manager
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/hypridle
Restart=on-failure

[Install]
WantedBy=graphical-session.target
