[Unit]
Description=Hyprpaper wallpaper daemon
After=graphical-session.target
PartOf=colutti-desktop.target
StartLimitIntervalSec=30
StartLimitBurst=10

[Service]
ExecStart=/usr/bin/hyprpaper -c %h/.local/state/colutti-desktop/generated/hyprpaper.conf
Restart=on-failure
RestartSec=2

[Install]
WantedBy=colutti-desktop.target
