[Desktop Entry]
Type=Application
Exec=/usr/bin/Telegram -- %U
TryExec=/usr/bin/Telegram
OnlyShowIn=KDE;
Name=Telegram
Icon=org.telegram.desktop
Terminal=false
DBusActivatable=true
SingleMainWindow=true
